TINA_PUBLIC_IS_LOCAL=false

# Github credentials for onPut and onDelete
GITHUB_PERSONAL_ACCESS_TOKEN=replace_with_ghp_token

# Required when building locally
GITHUB_OWNER=nsivraj
GITHUB_REPO=git@github.com:nsivraj/tina-self-hosted-demo.git
GITHUB_BRANCH=main

# Used by NextAuth.js to encrypt JWT
NEXTAUTH_SECRET=changeme

# Used by Vercel KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

MONGO_INITDB_ROOT_PASSWORD=replace_with_password
MONGO_INITDB_ROOT_USERNAME=officeadmin
MONGO_INITDB_DATABASE=officedb
MONGODB_HOST=0.0.0.0
MONGODB_PORT=27017
MONGODB_URI=mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@$MONGODB_HOST:$MONGODB_PORT/?directConnection=true&authSource=admin&appName=officetinacms
